<h1>{{title | uppercase}} </h1>
<h3>{{ChildMessage}}</h3>

<app-hotels 
comon ='je viens de AppComponent' 
(addItemEvent)="receiveMesssage($event)">
</app-hotels>

<a routerLink="/hotels">voir la liste d'hotels</a>

<!-- <router-outlet /> -->
<br>
<label for="user" class="mt-4">Utilisateur * {{user}}</label>
<input type="text" id="user" [(ngModel)] = "user" class="form-control ml-md-2 w-lg-25 border-1 border-gray pd-4 form-control-outline-0 rounded"/>
<hr class="mb-4">

<div class="pd-8 m-4 w-30">
    <form [formGroup] = "profilUser" (ngSubmit)="handleSubmit()">
        <label for="" class="">
            Name
            <input type="text" formControlName="nom">
        </label>
        <label for="">
            Email
            <input type="email" formControlName="email">
        </label>
        <button type="submit" class="btn btn-primary m-2" [disabled]="!profilUser.valid">Soumettre</button>
    </form>
    <br>
    <p>votre nom: {{profilUser.value.nom}}</p>
    <p>votre email: {{profilUser.value.email}}</p>
    <p>La liste des voiture est : {{display}}</p>
    <p>{{user | reverse }}</p>
</div>